body {
    background-color: rgb(129, 26, 26);
}

body {
    margin: 0px;
}

header {
    border: 10px ridge tan;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: large;
    color: darkblue;
}

main {
    margin: 0px;
}

img {
    height: 600px;
    width: 1300px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h6 {
    display: flex;
    justify-content: center;
    text-align: center;
}
#intro {
    background-color: tan;
    border: 2px ridge rgb(58, 31, 31);
}

.section-header {
    color: blanchedalmond;
    text-align: center;
}

#topfive ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
